.topBar {
    position: fixed;
    z-index: 10;
    background-color: #141414;
    color: #919191;
    width: 100vw;
    padding: 20px;
}

.topBar a {
    color: #dedede !important;
    text-decoration: none;
}

.topBar a:hover {
    color: #948888 !important;
}

.navbar {
    position: fixed;
    z-index: 10;
    background-color: #141414;
    color: #dedede;
    width: 100vw;
    padding: 15px 10px;
    border-top: 1px solid #ffffff14; 
    border-bottom: 1px solid #ffffff14; 

}
    /* navbar altındaki tüm a ları etkiler */
.navbar a {
    color: #dedede !important;
    text-decoration: none;
    margin: 0px 10px !important;
}
.navbar a:hover {
    color: #948888 !important;

}
.navbar div {
    color: #dedede !important;
    padding: 0;

}
    /* Üzerine gelindiğinde mavi renk */

.middleMenu{
    display: flex;
    align-items: center;
    
}
.menuIcon{
    display: none !important;
}

@media (max-width: 768px) {
    .middleMenu {
        display: none !important;/* orta butonları görünmez yap */
    }

    .menuIcon {
        display: block !important; /* Menü butonunu göster */
    }
}


  
.searchContainer {
    transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out,width 1s ease-in-out,;
    transform: translateX(0); /* Varsayılan konum */
    opacity: 1; /* Görünür */
    z-index: 1;
    position: absolute;
    left: 120px;

  }
  
  .searchContainer.hide {
    transform: translateX(-100%); /* Sola kaydır */
    opacity: 0; /* Görünmez */
 
  }
  
  .searchContainer.show {
    transform: translateX(0); /* Varsayılan konuma geri getir */
    opacity: 1; /* Görünür */
  }
  @media (max-width: 1050px) {
    .searchContainer {
        width: 180px !important;
        background-color: red;  /* Genişlik 80% olacak şekilde daralt */
    }

}
@media (max-width: 950px) {
    .searchContainer {
        width: 130px !important;  /* Genişlik 80% olacak şekilde daralt */
    }

}
@media (max-width: 500px) {
    .searchContainer {
        width: 180px !important;  /* Genişlik 80% olacak şekilde daralt */

    }

}
@media (max-width: 400px) {
    .searchContainer {
        width: 130px !important;  /* Genişlik 80% olacak şekilde daralt */

    }

}