.topBar {
    position: fixed;
    z-index: 10;
    background-color: #141414;
    color: #919191;
    width: 100vw;
    padding: 10px 10px;
}

.topBar a {
    color: #dedede !important;
    text-decoration: none;
}

.topBar a:hover {
    color: #948888 !important;
}

.navbar {
    position: fixed;
    z-index: 10;
    background-color: #141414;
    color: #dedede;
    width: 100vw;
    padding: 15px 10px;
    border-top: 1px solid #ffffff14; 
    border-bottom: 1px solid #ffffff14; 

}
    /* navbar altındaki tüm a ları etkiler */
.navbar a {
    color: #dedede !important;
    text-decoration: none;
    margin: 0px 10px !important;
}

.navbar div {
    color: #dedede !important;
    padding: 0;

}
    /* Üzerine gelindiğinde mavi renk */
.navbar a:hover {
    color: #948888 !important;

}
.middleMenu{
    display: flex;
    align-items: center;
    
}
.menuIcon{
    display: none !important;
}

@media (max-width: 768px) {
    .middleMenu {
        display: none !important;/* orta butonları görünmez yap */
    }

    .menuIcon {
        display: block !important; /* Menü butonunu göster */
    }
}

.searchContainer {
    transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
    transform: translateX(0); /* Varsayılan konum */
    opacity: 1; /* Görünür */
    z-index: 1;
  }
  
  .searchContainer.hide {
    transform: translateX(-100%); /* Sola kaydır */
    opacity: 0; /* Görünmez */
  }
  
  .searchContainer.show {
    transform: translateX(0); /* Varsayılan konuma geri getir */
    opacity: 1; /* Görünür */
  }